html {
 	background: #ebebeb;
	font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "FontAwesome";
  src: url('../content/fonts/fontawesome-webfont.eot');
  src: url('../content/fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../content/fonts/fontawesome-webfont.woff') format('woff'), url('../content/fonts/fontawesome-webfont.ttf') format('truetype'), url('../content/fonts/fontawesome-webfont.svg#FontAwesome')    format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
	font-family: FontAwesome;
}

.icon.red {
	color: #FA5C4F;
}

.icon.green {
	color: #00B5A9;
}

.top-nav-bar {
	color: white;
	text-align: center;
	background: #424242;
}

.content {
	background: #ebebeb;
}

.listview-item {
	/*min-height: 65px;*/
}

.listview-item .view {
	width: 85%;
	background: #FFF;
	color: #bababa;
	padding: 0 30px;
	margin: 5px auto;
	min-height: 60px;
	border-radius: 4px;
	border: 0;
	box-shadow: 1px 2px 2px #E0E0E0;
	white-space: nowrap;
}

.sideview {
	background: #111;
	-moz-box-shadow: inset -5px 0 10px #333;
   	-webkit-box-shadow: inset -5px 0 10px #333;
   	box-shadow: inset -5px 0 10px #333;
   	border-right: 1px solid #111;
}

.sideview-title {
	color: #4D5966;
	line-height: 70px;
	padding-left: 10px;
	font-size: 2em;
}

.sideview-menu-item {
	/*background: #FA5C4F;*/
}

.sideview-menu-item-text {
	color: white;
	font-size: 1em;
	text-transform: uppercase;
}

.sideview-menu-item-text .icon {
	font-size: 1.3em;
}
